/*--------------------------------------------------------------
Light mode / Dark mode
--------------------------------------------------------------*/

/*-----Light-----*/

@mixin light() {

    a {
        color: $black;
    }

    .btn_primary {
        background-color: $dark_grey;
        color: $white;
    }

    .btn_secondary {
        color: $black;
        border: 2px solid $dark_grey;
        &:before {
            background-color: $dark_grey;
        }
        &:hover {
            color: $white;
        }
    }

    header {
        background-color: $white;
    }

    #ticketing {
        .description {
            span {
                &:before {
                    background-color: $black;
                }
            }
            p {
                color: $grey;
            }
        }
    }

}


/*-----Dark-----*/

@mixin dark() {
    
    a {
        color: $white;
    }

    .btn_primary {
        background-color: $white;
        color: $black;
    }

    .btn_secondary {
        color: $white;
        border: 2px solid $white;
        &:before {
            background-color: $white;
        }
        &:hover {
            color: $black;
        }
    }

    header {
        background-color: $dark_grey;
    }

    #ticketing {
        .description {
            span {
                &:before {
                    background-color: $white;
                }
            }
            p {
                color: $light_grey;
            }
        }
    }

}

/*-----Detector-----*/

@media (prefers-color-scheme: light) {
    html {
        background-color: $white;
        color: $black;
        @include light;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: $dark_grey;
        color: $white;
        @include dark;
    }
}