@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
Font face
--------------------------------------------------------------*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../assets/fonts/Montserrat-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.ttf") format("opentype");
}
/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1375px;
  width: 95%;
  margin: 0 auto;
}

.h1 {
  font-size: 50px;
}

.h2 {
  font-size: 40px;
  line-height: 1.2;
}

.h3 {
  font-size: 35px;
}

a {
  text-decoration: none;
}

section {
  margin: 80px 0;
}

.color-white {
  color: #ffffff;
}

.margin-0 {
  margin: 0;
}

.textAlign-center {
  text-align: center;
}

.fontWeight-SB {
  font-weight: 600;
}

.gap {
  gap: 50px;
}

/*--------------------------------------------------------------
Colonnes
--------------------------------------------------------------*/
.row {
  display: flex;
  justify-content: space-between;
}

.col1 {
  flex: 0 1 16.6666666667%;
  max-width: 16.6666666667%;
}

.col2 {
  flex: 0 1 33.3333333333%;
  max-width: 33.3333333333%;
}

.col3 {
  flex: 0 1 50%;
  max-width: 50%;
}

.col4 {
  flex: 0 1 66.6666666667%;
  max-width: 66.6666666667%;
}

.col5 {
  flex: 0 1 83.3333333333%;
  max-width: 83.3333333333%;
}

.col6 {
  flex: 0 1 100%;
  max-width: 100%;
}

/*--------------------------------------------------------------
Modèles
--------------------------------------------------------------*/
/*-----Bouton-----*/
.btn {
  background: none;
  padding: 10px 25px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn_primary {
  font-weight: 600;
}
.btn_primary:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  transform: translate(0, -2px);
}

.btn_secondary {
  background-color: transparent;
  font-weight: 600;
  position: relative;
}
.btn_secondary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.2s;
  z-index: -1;
}
.btn_secondary:hover {
  color: #ffffff;
}
.btn_secondary:hover:before {
  width: 100%;
}

.btn_tertiary {
  background-color: #252525;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 8px 8px 0 -1px #727272, 8px 8px #252525;
  transition: 0.5s;
}
.btn_tertiary:hover {
  box-shadow: 0 0 0;
}

/*-----Formulaire-----*/
form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
form input, form textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgb(189, 189, 189);
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  padding-bottom: 10px;
}
form input:focus, form textarea:focus {
  border-color: #000000;
  outline: 0;
}
form input.mid, form textarea.mid {
  width: 47%;
}

/*--------------------------------------------------------------
Light mode / Dark mode
--------------------------------------------------------------*/
/*-----Light-----*/
/*-----Dark-----*/
/*-----Detector-----*/
@media (prefers-color-scheme: light) {
  html {
    background-color: #ffffff;
    color: #000000;
  }
  html a {
    color: #000000;
  }
  html .btn_primary {
    background-color: #252525;
    color: #ffffff;
  }
  html .btn_secondary {
    color: #000000;
    border: 2px solid #252525;
  }
  html .btn_secondary:before {
    background-color: #252525;
  }
  html .btn_secondary:hover {
    color: #ffffff;
  }
  html header {
    background-color: #ffffff;
  }
  html #ticketing .description span:before {
    background-color: #000000;
  }
  html #ticketing .description p {
    color: #727272;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #252525;
    color: #ffffff;
  }
  html a {
    color: #ffffff;
  }
  html .btn_primary {
    background-color: #ffffff;
    color: #000000;
  }
  html .btn_secondary {
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  html .btn_secondary:before {
    background-color: #ffffff;
  }
  html .btn_secondary:hover {
    color: #000000;
  }
  html header {
    background-color: #252525;
  }
  html #ticketing .description span:before {
    background-color: #ffffff;
  }
  html #ticketing .description p {
    color: #a5a5a5;
  }
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
header {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
header .site-header {
  padding: 10px 0;
}
header .site-header__logo a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 0;
}
header .site-header__logo a .logo {
  width: 50px;
  height: 50px;
}
header .site-header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
header .site-header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
header .site-header nav ul li {
  list-style: none;
}
header .site-header nav ul li a {
  text-decoration: none;
  padding: 0 20px;
}

/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/
/*-----Ticketing-----*/
#ticketing .gallery {
  background: url("../assets/img/image1.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height: 500px;
  z-index: 1;
}
#ticketing .gallery:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2509803922);
  inset: 0;
  z-index: -1;
}
#ticketing .gallery__informations {
  position: absolute;
  left: 50px;
  bottom: 50px;
}
#ticketing .description {
  padding-left: 60px;
  width: 100%;
  height: 100%;
}
#ticketing .description span {
  display: block;
  margin-top: 40px;
  position: relative;
  margin-left: 50px;
}
#ticketing .description span:before {
  content: "";
  height: 2px;
  width: 40px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(0, -50%);
}
#ticketing .description h2 {
  margin: 10px 0 30px 0;
}
#ticketing .description p {
  font-size: 20px;
  margin-bottom: 40px;
}

/*-----Events-----*/
#events {
  padding: 50px 0;
}
#events .cards-container .card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 500px;
  padding: 20px;
  z-index: 1;
}
#events .cards-container .card:after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 70%);
  inset: 0;
  z-index: -1;
}

/*-----Form-----*/
#contact {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
#contact .form {
  padding: 50px;
}
#contact .form h3 {
  margin-top: 0;
}
#contact .map__information {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  right: 15px;
}
#contact .map__information__single {
  margin-left: 15px;
}
#contact .map__information__single p {
  padding: 20px 20px 20px 52px;
}
#contact .map__information__single p.phone {
  background: url("../assets/img/phone.svg") no-repeat 18px center #252525;
  background-size: 20px;
}
#contact .map__information__single p.place {
  background: url("../assets/img/place.svg") no-repeat 18px center #252525;
  background-size: 20px;
}
#contact .map__information__single p.mail {
  background: url("../assets/img/mail.svg") no-repeat 18px center #252525;
  background-size: 20px;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
  background-color: #727272;
}
footer .site-footer {
  padding: 10px 0;
  display: flex;
}
footer .site-footer__logo {
  display: flex;
  justify-content: start;
  align-items: center;
}
footer .site-footer__logo a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 0;
}
footer .site-footer__logo a .logo {
  width: 100px;
  height: 100px;
}
footer .site-footer__informations {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .site-footer__informations p {
  color: #ffffff;
}
footer .site-footer__socials {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
footer .site-footer__socials a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}/*# sourceMappingURL=style.css.map */